@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.container{
    background: linear-gradient(135deg, #80b5dc, #8c41b7, #2a762f, #494646);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    padding: 10px;
}

 .todo-app {
    width: 100%;
    max-width: 540px ;
    /* margin: 100px auto 20px; */
    background-color: #b3aaaa;
    padding: 40px 30px 60px;
    border-radius: 15px;
    box-shadow: 25px 25px 75px rgba(124, 119, 119, 0.25), 10px 10px 70px rgba(250, 246, 246, 0.25), inset 5px 5px 10px rgba(0,0,0,0.5), inset 5px 5px 20px rgba(222, 220, 220, 0.2), inset -5px -5px 15px rgba(0,0,0,0.75); 
}

.todo-app h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #101110;
}

.task-input {
    background-color: #e9e4e4;
    display: flex;
    padding: 10px 15px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    & input {
        flex: 1;
        width: 100%;
        background-color: transparent;
        border: none;
        font-size: 16px;
        outline: none;
        height: 38px;
        padding-right: 10px;
    }

    & button {
        height: 38px;
        border: none;
        font-size: 16px;
        outline: none;
        background: #e87a0d;
        padding: 0 15px;
        border-radius: 15px;
        color: white;
        font-weight: 500;
        cursor: pointer;
    }
    
}

.task {
    color: white;
    font-weight: 500;
    padding-left: 15px;
}

#created-tasks{
    color: #523ce1;
    font-weight: 700;
}

#pending-tasks{
    color: #e83232;
    font-weight: 700;
}

.task-items {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 45vh;
    position: relative;
    width: 100%;
    
      &::-webkit-scrollbar {
        width: 7px;
      }
      
      &::-webkit-scrollbar-track {
        box-shadow: inset 7px 3px 5px #3d3b3b; 
        border-radius: 10px;
      }
       
      &::-webkit-scrollbar-thumb {
        background: #e87a0d; 
        border-radius: 10px;
      }
}

.task-items li {
    list-style: none;
    /* word-break: break-all; */
    overflow-wrap: anywhere;
    overflow: hidden;
    padding: 12px 45px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    padding-bottom: 50px;

    & > span {
        color: #fc0000;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        height: 40px;
        width: 40px;

        &:hover {
            background-color: #837c7c71;
        }
        &:active{
            scale: .98;
        }
    }
}

.task-items li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(Assets/unchecked-mark-icon.png);
    background-size: cover;
    background-position: center;
    inset: 14px 10px;
} 

.task-items li.checked {
    text-decoration: line-through;
    color: #808080; 
}

.task-items li.checked::before{
    background-image: url(Assets/check-mark-circle-icon.png);
}

.time-stamp {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px ;
    font-size: 8px;
    line-height: 10px;
    color: #535753;
    bottom: 0;
    right: 0;
    left: 0;
    background: #dbd6d6;
    
    & .added, & .completed {
        display: inline-flex;
        flex-direction: column;
        gap: 1px;
        text-align: right;

        & small {
            font-size: 8px;
        }

        & h6 {
            text-decoration: underline;
            color: #6a6161;
            text-align: right;
        }
       
    }
}


@media screen and (max-width: 450px) {
    .time-stamp {
        padding: 3px 15px ;
        & p {
            display: flex;
            gap: 10px;
        }
        
        & p br{
            display: none;
        }
    }
}
@media screen and (max-width: 350px) {
    .time-stamp {

        & .added small, & .completed small {
            font-size: 7px;
        }
    }
}

.error {
    display: none;
    color: #ff0000;
    text-align: center;
    width: 100%;
    max-width: 540px;
    margin: 10px auto;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    background-color: #b3aaaa;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 25px 25px 75px rgba(124, 119, 119, 0.25), 10px 10px 70px rgba(250, 246, 246, 0.25), inset 5px 5px 10px rgba(0,0,0,0.5), inset 5px 5px 20px rgba(222, 220, 220, 0.2), inset -5px -5px 15px rgba(0,0,0,0.75); 
    animation: forwards error .1s;
    animation-iteration-count: 5;
}

@keyframes error {
    0% {
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}